---
import MainLayout from '../layouts/MainLayout.astro';
import Image from '../components/Image.astro';

import community from '../data/community.json'
---

<MainLayout 
	title="Community" 
	infoKey="faces"
	heroImg="https://ik.imagekit.io/thegoldendino/rvcd/hero/faces_gx6HJSkGSh.jpg?updatedAt=1636006442406&tr=w-1024,f-jpg,pr-true" 
	bg="bg-folage bg-opacity-80">

	<div class="flex flex-wrap justify-evenly">

		{Object.values(community).map((member) => (
			<div class="wrapper">
				<a href={member.href}>
					<Image
						src={member.src}
						width={member.width}
						height={member.height}
						alt={member.alt}
						className="max-h-32 max-w-xs w-full"
						raw={true}
					/>
				</a>
			</div>			
		))}

	</div>
</MainLayout>

<style>
	.wrapper {
		@apply rounded border-folage border-4 p-2 bg-white m-2 flex items-center	
	}
</style>