---
import { Markdown } from 'astro/components';
import Icon from './Icon.astro';
import Image from './RemoteImage.astro';
import community from '../data/community.json';

const {commkey} = Astro.props;
const org = community[commkey];
---

<div class="px-4 mt-4 md:mt-10">
	<h4 class="text-3xl text-cobalt opacity-80">{org.alt}</h4>
	<Image
			src={org.src}
			width={org.width * 1.5}
			height={org.height * 1.5}
			alt={org.alt}
			className="mt-4"
			raw={true}
		/>

	<a href={org.href} class="underline text-xl md:text-2xl text-sky mt-3 block hover:opacity-80 break-all">{org.href}</a>

	<div class="content mt-6">
		<Markdown content={org.content.join("\n")}/>
	</div>

	{org.how_to_volunteer && (
		<div class="flex flex-wrap volunteer mt-3 text-xl text-gray-600">
			<div class="mr-2 font-bold">How To Volunteer:</div>
			<Markdown content={org.how_to_volunteer} />
		</div>
	)}

	<div class="mt-3 flex flex-wrap items-center">
		<div class="font-bold text-xl text-gray-600 mr-2">Social Media:</div>
		{Object.entries(org.media).map(([key, url]: [string, string]) => (
			<a class="block my-4 mr-4 text-sky hover:opacity-80" href={url}>
				<Icon key={key}/>
			</a>
		))}
	</div>
</div>


<style>
	.content ul {
		@apply list-disc md:ml-5
	}

	.volunteer a {
		@apply text-sky underline break-all hover:opacity-80
	}
</style>

